/* Letters over players */

.playerParent .letter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    background-size: contain;
    background: no-repeat bottom center;
}

.playerParent.facing-left .letter {
    transform: translateX(-50%) scale3d(-1,1,-1);
}

.letter.letter-heart {
    background-image: url(/files/letters/_heart.png);
}

.letter.letter-a {
    background-image: url(/files/letters/a.png);
}

.letter.letter-b {
    background-image: url(/files/letters/b.png);
}

.letter.letter-c {
    background-image: url(/files/letters/c.png);
}

.letter.letter-d {
    background-image: url(/files/letters/d.png);
}

.letter.letter-e {
    background-image: url(/files/letters/e.png);
}

.letter.letter-f {
    background-image: url(/files/letters/f.png);
}

.letter.letter-g {
    background-image: url(/files/letters/g.png);
}

.letter.letter-h {
    background-image: url(/files/letters/h.png);
}

.letter.letter-i {
    background-image: url(/files/letters/i.png);
}

.letter.letter-j {
    background-image: url(/files/letters/j.png);
}

.letter.letter-k {
    background-image: url(/files/letters/k.png);
}

.letter.letter-l {
    background-image: url(/files/letters/l.png);
}

.letter.letter-m {
    background-image: url(/files/letters/m.png);
}

.letter.letter-n {
    background-image: url(/files/letters/n.png);
}

.letter.letter-o {
    background-image: url(/files/letters/o.png);
}

.letter.letter-p {
    background-image: url(/files/letters/p.png);
}

.letter.letter-q {
    background-image: url(/files/letters/q.png);
}

.letter.letter-r {
    background-image: url(/files/letters/r.png);
}

.letter.letter-s {
    background-image: url(/files/letters/s.png);
}

.letter.letter-t {
    background-image: url(/files/letters/t.png);
}

.letter.letter-u {
    background-image: url(/files/letters/u.png);
}

.letter.letter-v {
    background-image: url(/files/letters/v.png);
}

.letter.letter-w {
    background-image: url(/files/letters/w.png);
}

.letter.letter-x {
    background-image: url(/files/letters/x.png);
}

.letter.letter-y {
    background-image: url(/files/letters/y.png);
}

.letter.letter-z {
    background-image: url(/files/letters/z.png);
}